<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AI Finance Assistant</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <nav>
        <div class="logo">AI Finance Assistant</div>

        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </div>
    </nav>

    <section class="hero">

        <h1>Manage Your Money Smarter</h1>

        <p>
            Track your expenses, manage budgets,
            and get AI-powered financial insights.
        </p>

        <div class="buttons">
            <a href="/login" class="btn">Login</a>
            <a href="/register" class="btn">Get Started</a>
        </div>

    </section>

</body>
</html>